
/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list bullets and padding */
:is(ul, ol) {
  list-style: none;
  padding: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Avoid orphans on paragraphs, and set default line-height */
p {
    text-wrap: pretty;
    line-height: 1.6;
}


a {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: contain;

  @media (width > 40rem) {
    height: 100%;
  }
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove underline on links */
a {
    text-decoration: none;
}


/* FONTS */

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/static/Inter-Regular.woff2') format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/static/Inter-Bold.woff2') format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/static/Inter-ExtraBold.woff2') format("woff2");
    font-weight: 800;
}


/* CUSTOM PROPERTIES */

:root {
    /* COLORS */
    --clr-soft-orange: hsl(35, 77%, 62%);
    --clr-soft-red: hsl(5, 85%, 63%);
    --clr-soft-red-darker: hsl(from var(--clr-soft-red) h 90% 40%);

    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(233, 8%, 79%);
    --clr-dark-grayish-blue: hsl(236, 13%, 42%);
    --clr-very-dark-blue: hsl(240, 100%, 5%);

    /* TYPOGRAPHY */
    --ff-inter: 'Inter';
    --fs-regular: .9rem;
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;
}


/* UTILITIES */

.visually-hidden {
    clip-path: inset(50%);
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
    height: 1px;
}

.skip-link {
    position: absolute;
    left: -1000px;
    z-index: 10;
    padding: .8em;
    background-color: black;
    color: white;
    opacity: 0;
}

.skip-link:focus {
    left: 0;
    top: 20px;
    opacity: 1;
}

.flow {
  --flow-space: .8em;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* GENERAL STYLING */

:is(.header, .main) {
    max-width: 62rem;
}

body {
    font-family: var(--ff-inter), sans-serif;
    font-size: var(--fs-regular);
    background-color: var(--clr-off-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: 1rem;
    position: relative;
}

/* HEADER */

.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    width: 100%;
}

.navbar {
    display: none;
    color: var(--clr-dark-grayish-blue);
    
    @media (width > 40rem) {
      display: block;
    }
}

.header:has(.menu-btn-open[aria-expanded="true"]) {
  padding: 0;
  
  .navbar {
    display: block;
    color: var(--clr-very-dark-blue);
    font-weight: var(--fw-700);
    padding: 6rem 0 0 1rem;
  }
  .navbar-list {
    flex-direction: column;
  }
  .nav-wrapper {
    /* position: absolute; */
    background-color: lightsalmon;
    height: 100vh;
    width: 70%;
  }

}

.navbar-list {
    display: flex;
    gap: 1rem;
}

.navbar-list-item-link:is(:hover, :focus) {
    color: var(--clr-soft-red);
    transition: .2s;
}

.menu-btn-open {
  border: none;
  background-color: transparent;
  cursor: pointer;
 

  &[aria-expanded="true"] {
    display: none;

    +.menu-btn-close {
      display: block;
    }
  }
}

.menu-btn-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 5%;
  right: 5%;
}

.menu-buttons {
  @media (width > 40rem) {
    display: none;
  }
}

/* MAIN */

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (width > 40rem) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}


/* FEATURED ARTICLE */

.featured-article {
  color: var(--clr-dark-grayish-blue); 

  @media (width > 40rem) {  
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;  
    }
}

.image-wrapper {

    @media (width > 40rem) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
}

.featured-article-preview {
    padding-block: 2rem;
    
    @media (width > 40rem) {
      padding-block: initial;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }
}

.featured-article-heading {
    font-weight: var(--fw-800);
    font-size: 3rem;
    color: var(--clr-very-dark-blue);

    @media (width > 40rem) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
}

.featured-article-preview-text {
    display: flex;
    flex-direction: column;

    @media (width > 40rem) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
}


.featured-article-btn {
    width: fit-content;
    display: inline-block;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: var(--clr-soft-red-darker);
    color: var(--clr-off-white);
    --flow-space: 1.8em;
    
    @media (width > 40rem) {
      margin-block-start: auto;
    }

    &:is(:hover, :focus) {
        background-color: var(--clr-very-dark-blue);
        transition: .2s;
    }
}

/* NEW ARTICLES */

.new-articles {
  background-color: var(--clr-very-dark-blue);
  color: var(--clr-grayish-blue);
  padding-inline: 1rem;

  @media (width > 40rem) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
}

.new-articles-main-heading {
  color: var(--clr-soft-orange);
  font-size: 2rem;
  padding-block-start: 1.7rem;
}

.new-articles-list-item-heading {
  color: var(--clr-off-white);

  &:is(:hover, :focus) {
    color: var(--clr-soft-orange);
    transition: .2s;
  }
}

.new-articles-list-item {
  padding-block: 1.7rem;
}

.new-articles-list-item:not(:last-child) {
  border-bottom: 1px solid var(--clr-grayish-blue);
}


/* OTHER ARTICLES */

.other-articles {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (width > 40rem) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    grid-template-columns: subgrid;
    gap: initial;
  }
}

.other-article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-content: center;
  color: var(--clr-dark-grayish-blue);
}

.number {
  color: var(--clr-grayish-blue);
  font-size: 1.6rem;
}

.other-article-heading {
  --flow-space: .5em;
  color: var(--clr-very-dark-blue);
  font-size: var(--fs-regular);
  font-weight: var(--fw-800);

  &:is(:hover, :focus) {
    color: var(--clr-soft-red);
    transition: .2s;
  }
}

.text {
  --flow-space: 1.5em;

  @media (width > 40rem) {
    --flow-space: .5em;
  }
}